<section class="link-thread">
  <header>
    <h4>
      <%= @link.title %>
    </h4>

    <% if @link.description? %>
    <p>
      <%= @link.description %>
    </p>
    <% end %>
  </header>
</section>
